@import 'bootstrap/dist/css/bootstrap'; //lets you overide the normal bootsrap css and scss code



.nav-link {
  color: orange !important;
}

#logo {
  color: orange;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
  text-align: adjusted;

}

.jumbotron {
  color: orange;
  background-image: asset-url('jumbo_copy.jpg');
  background-position: center; // center the background image position
  background-repeat: no-repeat;
  background-size: cover; //sets background image to be as large as possible
  height: 500px;
}

.footer {
position: fixed;
width: 100%;
left: 0;
bottom: 0;
color: orange;
text-align: center;
background-color: black;
}

html, body {
  height:100;
  background-color: lightgray;

}
